<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Santosh Lamichhane</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
    <!-- <link href="static/css/main.3f6952e4.css" rel="stylesheet" /> -->
		<link href="static/favicon.ico" rel="icon">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="home.html" class="logo"><strong>Santosh</strong> Lamichhane</a>
									
								</header>

                <!-- <div class="section-container"> -->
                  <!-- <div class="container">
                    <div class="row"> -->
                      <hr class="major" /> 
                      <div class="">
                        <!-- <div class="section-container-spacer text-center">
                          <h1 class="h2">Contact me</h1>
                        </div> -->
                        
                        
                            <div class="row">
                              <div class="box">
                                 <h3>"Your input means the world to me. Thank you for sharing your thoughts and feedback. Let's keep the conversation 
                                  going as we explore more together."</h3>
                              </div>
                            
                            </div>
                            
                                  <div class="col-md-5 address-container">
                                    <ul class="list-unstyled">
                                      <li>
                                        <span class="fa-icon">
                                          <i class="fa fa-phone" aria-hidden="true"></i>
                                        </span>
                                        + 1 000 000 0000
                                      </li>
                                      <li>
                                        <span class="fa-icon">
                                          <i class="fa fa-at" aria-hidden="true"></i>
                                        </span>
                                        sant43210@gmail.com
                                        
                                      </li>
                                      <li>
                                        <span class="fa-icon">
                                          <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                                        </span>
                                        640 Dr. Mary McLeod Bethune Blvd, Daytona Beach, Fl, 32114 USA
                                      </li>
                                    </ul>
                                    <hr class="major" />  
                                    <h3>Follow me on Social Networks</h3>
                                    <ul class="icons">
                                      <!-- <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li> -->
                                      <li><a href="https://github.com/santooos" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                                      <li><a href="https://www.facebook.com/santosh.lamichhane.3382?mibextid=9R9pXO" target ="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                      <li><a href="https://t.snapchat.com/BY2FgheR" target="_blank" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                                      <li><a href="https://instagram.com/urs_santoss?igshid=OGQ5ZDc2ODk2ZA==" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                                      <!-- <li><a href="#" targetclass="icon brands fa-medium-m"><span class="label">Medium</span></a></li> -->
                                      <li><a href="https://www.linkedin.com/in/santosh-lamichhane-1b2737195/" target="_blank" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
                                    </ul>
                 
                                  </div>
              
                      </div>
                       
                    <!-- </div> -->
                  <!--  </div> -->
                <!-- </div>  -->
            </div>

						
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<!-- <section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section> -->

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="home.html">Home</a></li>
										<li><a href="works.html">Works</a></li>
										<li><a href="about.html">About Me</a></li>
										<li><a href="contact.html"> Contact</a></li>
								
									</ul>
								</nav>

							<!-- Section -->
								
							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; 2023 Santosh. All rights reserved.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
      <script type="text/javascript" src="static/js/main.70a66962.js"></script>

	</body>
</html>





